:host {
    max-width: 1280px;
}
body{
    background-color: transparent;
    color: white;
}
h1,p{
    display: flex;
    justify-content: center;
}
th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    background-color: none;
    margin: 0 auto;
}
