<div class="row">
    <nav>
        <div class="logo">
            <span class="tech">TECH</span><span class="watchers">WATCHERS</span>
        </div>
    <ul>
        <li><a href="#">Strona główna</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">Kontakt</a></li>
    
        <li><button type="button" class="btn btn-primary">Logowanie</button></li>
        <li><button type="button" class="btn btn-primary">Rejestracja</button></li>
    </ul>
    </nav>
</div>
