.card{
    background-color: transparent;
    color: var(--white-color);
    border: 2px solid var(--secondary-color);
}

input {
    background-color: var(--background-color);
    color: var(--white-color);
    border: 2px solid var(--secondary-color);
    
}

input:focus {
    background-color: var(--background-color);
    border: 2px solid var(--green-color);
    box-shadow: none;
    color: white;
}
a{
    color: var(--green-color);
}
