<div class="container-lg main">
    <div class="post border-bottom border-dark">
        <div class="post rounded">
            <div class="text-start">
                <div class="d-flex gap-2">
                    <p class="fs-5 text">user</p>
                    <p class="fs-5 text">•</p>
                    <p class="fs-5 text">time</p>
                </div>
                <p class="fs-6 text">kategoria</p>
                <p class="fs-1 text">Tytuł posta</p>
                <p class="fs-6 text">opis posta</p>
            </div>
            <div class="image">
                <img src="" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="post border-bottom border-dark">
        <div class="post rounded">
            <div class="text-start">
                <div class="d-flex gap-2">
                    <p class="fs-5 text">user</p>
                    <p class="fs-5 text">•</p>
                    <p class="fs-5 text">time</p>
                </div>
                <p class="fs-6 text">kategoria</p>
                <p class="fs-1 text">Tytuł posta</p>
                <p class="fs-6 text">opis posta</p>
            </div>
            <div class="image">
                <img src="" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="post border-bottom border-dark">
        <div class="post rounded">
            <div class="text-start">
                <div class="d-flex gap-2">
                    <p class="fs-5 text">user</p>
                    <p class="fs-5 text">•</p>
                    <p class="fs-5 text">time</p>
                </div>
                <p class="fs-6 text">kategoria</p>
                <p class="fs-1 text">Tytuł posta</p>
                <p class="fs-6 text">opis posta</p>
            </div>
            <div class="image">
                <img src="" alt="" srcset="">
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#createPostModal">
    modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="createPostModal" role="dialog" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-lg-down">
      <div class="modal-content">
        <div class="modal-header border-bottom border-dark">
          <h1 class="modal-title fs-5" id="modalLabel">Stwórz post</h1>
        </div>
        <div class="modal-body">
            <form action="">
                <div class="mb-3">
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Wybierz kategorie</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="form-group">
                        <label for="inputTitle">Tytuł</label>
                        <input type="text" class="form-control" id="inputTitle">
                    </div>
                </div>
                <div class="mb-4">
                    <div class="form-group">
                        <label for="textareaFormControl">Opis</label>
                        <textarea class="form-control" id="textareaFormControl" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer border-top border-dark">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-success">Publikuj</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>