<div class="container">
    <!-- tutaj bedzie for z loopka kazdego wpisu sortowanego od ostatniego limit X -->
    <div class="post container border-bottom border-dark">
        <div class="text-start">
            <p class="fs-6 text">kategoria • user • time</p>
            <p class="fs-1 text">Tytuł posta</p>
            <p class="fs-6 text">opis posta</p>
        </div>
        <div class="image">
            <img src="" alt="" srcset="">
        </div>
    </div>
    <div class="post container border-bottom border-dark">
        <div class="text-start">
            <p class="fs-6 text">kategoria • user • time</p>
            <p class="fs-1 text">Tytuł posta</p>
            <p class="fs-6 text">opis posta</p>
        </div>
        <div class="image">
            <img src="" alt="" srcset="">
        </div>
    </div>
    <div class="post container border-bottom border-dark">
        <div class="text-start">
            <p class="fs-6 text">kategoria • user • time</p>
            <p class="fs-1 text">Tytuł posta</p>
            <p class="fs-6 text">opis posta</p>
        </div>
        <div class="image">
            <img src="" alt="" srcset="">
        </div>
    </div>
</div>