/* You can add global styles to this file, and also import other style files */

:root {
    --background-color: #0E1113;
    --secondary-color: #2E343B;
    --white-color: #fff;
    --green-color: #00bf63;
    --post-color: #f8f9fa;
}